<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Assignment3</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ListMovies">Movie List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="MyPodcasts">My Podcast</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="AddMovie">Add A Movie</a>
                </li>

            </ul>
        </div>
    </nav>
    <br />
    <br />
    <div class="container"><h1>@ViewBag.Title</h1></div>


    @RenderBody()

    <br />
    <br />
    <br />
</body>
</html>