@model AddMovie
@{ 
    ViewData["Title"] = "";
}
@* This is the confirmation page for when a movie is added *@
<div class="text-center">
    <h2>Congratulations! @Model.Title has been added to the movie list!</h2>
 
</div>
