@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}
<br />
<div class="container"><p>
    Welcome the the Joel Hilton Film Collection! Here you can add films to the collection, edit existing films,
    and delete films that are no longer owned!
</p></div>

<br /><br />
<div class="text-center">
    <div class="container">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="~/JoelHilton.jpg" alt="Joel Hilton" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Joel Hilton</h4>
                <p class="card-text">This is Joel Hilton, the man behind the great movie collection.</p>
            </div>
        </div>
    </div>
</div>


