

@{
    ViewBag.Title = "View My Podcast";
}

<div class="text-center">

    @* External Link to the podcast page *@
    
    <a class="btn btn-primary" href="https://baconsale.com/">See My Podcast!</a>
</div>